		body{
  			font-family: "Helvetica Neue", "Helvetica";
  			font-weight: bold;
			margin: 0;
			font-size: 12px;
		}
		h1{
			text-align: center;

		}
		.dot, .title{
			margin-top:50px;
			display: block;
			width: 600px;
			margin-left: auto;
			margin-right: auto;
		}
		.axis path,
		.axis line {
			fill: none;
			stroke: gray;
			shape-rendering: crispEdges;
		}
		svg{
			background-color:#fbfbfb;
		}

		text{
			font-size:12px;
		}
		circle{
			stroke: #222;
			stroke-width:2px;
		}